/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget textField
 *
 * Includes textField-specific rules of the Metal skin
 *
 * @style metal
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/textfield/css/widget-textfield.css
 * @link /walib/WAF/widget/skin/metal/css/widget-skin-metal.css
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
.metal.waf-textField {
	border-width: 1px;
	border-style: solid;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#fff),
		color-stop(1%, rgba(255, 255, 255, 0.02)),
		to(rgba(255, 255, 255, 0.7))
	);
	background-image: -webkit-linear-gradient(
	 	top,
	 	#fff,
	 	rgba(255, 255, 255, 0.02) 1px,
	 	rgba(255, 255, 255, 0.7) 100%
	 );
	background-image: -moz-linear-gradient(
	 	top,
	 	#fff,
	 	rgba(255, 255, 255, 0.02) 1px,
	 	rgba(255, 255, 255, 0.7) 100%
	 );
	background-image: -ms-linear-gradient(
	 	top,
	 	#fff,
	 	rgba(255, 255, 255, 0.02) 1px,
	 	rgba(255, 255, 255, 0.7) 100%
	 );
	background-image: -o-linear-gradient(
	 	top,
	 	#fff,
	 	rgba(255, 255, 255, 0.02) 1px,
	 	rgba(255, 255, 255, 0.7) 100%
	 );
	background-image: linear-gradient(
	 	top,
	 	#fff,
	 	rgba(255, 255, 255, 0.02) 1px,
	 	rgba(255, 255, 255, 0.7) 100%
	 );
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#05ffffff',
		endColorstr='#b2ffffff'
	);
	
	resize: none;
	outline: none;
	
	-webkit-transition: border 0.2s ease-in-out,
		-webkit-box-shadow 0.2s ease-in-out;
	-moz-transition: border 0.2s ease-in-out,
		-moz-box-shadow 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}


/**
 * -------------------------------------------------------
 * @section textField state
 * -------------------------------------------------------
 */
.metal.waf-textField.waf-state-hover,
.metal.waf-textField.waf-state-focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.metal.waf-textField.waf-state-active {
	-webkit-transition-duration: 0.0s;
	   -moz-transition-duration: 0.0s;
	     -o-transition-duration: 0.0s;
}
