/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget theme
 *
 * Includes generic rules for all widgets available for the Cupertino theme
 *
 * @style cupertino
 * @link /walib/WAF/widget/css/widget.css
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
.cupertino {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


/**
 * -------------------------------------------------------
 * @section Widget header
 * -------------------------------------------------------
 */
.cupertino .waf-widget-header,
.cupertino .waf-container.waf-widget-header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.46)), color-stop(0.5, rgba(255, 255, 255, 0.17)), color-stop(0.5, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	
	border-width: 0 0 1px 0;
	border-style: solid;
	
	font-weight: bold;
}


/**
 * -------------------------------------------------------
 * @section Widget body
 * -------------------------------------------------------
 */


/**
 * -------------------------------------------------------
 * @section Widget content
 * -------------------------------------------------------
 */


/**
 * -------------------------------------------------------
 * @section even / odd
 * -------------------------------------------------------
 */



/**
 * -------------------------------------------------------
 * @section Widget footer
 * -------------------------------------------------------
 */
.cupertino .waf-widget-footer,
.cupertino .waf-container.waf-widget-footer {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.46)), color-stop(0.5, rgba(255, 255, 255, 0.17)), color-stop(0.5, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	
	border-width: 1px 0 0 0;
	border-style: solid;
	
	font-weight: bold;
}


/**
 * -------------------------------------------------------
 * @section Widget state
 * -------------------------------------------------------
 */