/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget container styles
 *
 * @style metal
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/container/css/widget-container.css
 * @link /walib/WAF/widget/skin/metal/css/widget-skin-metal.css
 * @colordef #......;
 *
 */


/**
 * -------------------------------------------------------
 * @section container container
 * -------------------------------------------------------
 */
.metal.waf-container {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.03)), color-stop(0.2, rgba(0, 0, 0, 0.03)), color-stop(1, rgba(0, 0, 0, 0.07)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.07));
	background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.07));
	background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.07));
	background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.07));
	background-image:         linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 20%, rgba(0, 0, 0, 0.07));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#03000000', endColorstr='#07000000');
	
	border-width: 1px;
	border-style: solid;
	
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3)/*,
						inset 0 1px 0 rgba(255, 255, 255, 0.5)*/;
}
