/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget slider
 *
 * Includes slider-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/slider/css/widget-slider.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
.cupertino.waf-slider {
	/*border-width: 1px;*/
	border-style: solid;

	-webkit-border-radius: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
}

/**
 * -----------------------------------
 * @subsection slider horizontal
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-horizontal {
 	
}

/**
 * -----------------------------------
 * @subsection slider vertical
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-vertical .ui-slider-range  {
	width: 100% !important;
}


/**
 * -------------------------------------------------------
 * @section ui-slider-range
 * -------------------------------------------------------
 */

/**
 * -----------------------------------
 * @subsection ui-slider-range horizontal
 * -----------------------------------
 */

/**
 * -----------------------------------
 * @subsection ui-slider-range vertical
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-vertical .ui-slider-range {
}


/**
 * -------------------------------------------------------
 * @section ui-slider-handle
 * -------------------------------------------------------
 */
.cupertino.waf-slider .ui-slider-handle {
	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
}


/**
 * -------------------------------------------------------
 * @section ui-slider-range
 * -------------------------------------------------------
 */
.cupertino.waf-slider .ui-slider-range {

}

/**
 * -----------------------------------
 * @subsection ui-slider-range horizontal
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-horizontal .ui-slider-range {
	
	-webkit-border-radius: 10px;
}

/**
 * -----------------------------------
 * @subsection ui-slider-range vertical
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-vertical .ui-slider-range {

	-webkit-border-radius: 10px;
}


/**
 * -------------------------------------------------------
 * @section ui-slider-handle
 * -------------------------------------------------------
 */
.cupertino.waf-slider .ui-slider-handle {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	

	height: 20px;
	width: 20px;

	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
	    -ms-border-radius: 100px;
		 -o-border-radius: 100px;
			border-radius: 100px;

	bottom: 0;
	
	border-width: 1px solid;

}

/**
 * -----------------------------------
 * @subsection ui-slider-handle horizontal
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left:-10px;
}

/**
 * -----------------------------------
 * @subsection ui-slider-handle vertical
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-vertical .ui-slider-handle {
	margin-left:-4px;
	left: 0px !important;
}


/**
 * -----------------------------------
 * @subsubsection ui-slider-handle horizontal state
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-horizontal .ui-slider-handle.ui-state-active {

}

/**
 * -----------------------------------
 * @subsubsection ui-slider-handle vertical state
 * -----------------------------------
 */
.cupertino.waf-slider.ui-slider-vertical .ui-slider-handle.ui-state-active {

}