/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget container styles
 *
 * Includes grid-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/container/css/widget-container.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */


/**
 * -------------------------------------------------------
 * @section container container
 * -------------------------------------------------------
 */
.default.waf-container {
	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;

	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}



/**
 * -------------------------------------------------------
 * @section container resizable icon
 * -------------------------------------------------------
 */
.default.waf-container .ui-icon-gripsmall-diagonal-se {
	background: url("/walib/WAF/widget/container/skin/default/svg/widget-container-skin-default-resizable.svg") 0 0 no-repeat;
}

.default.waf-container .ui-resizable-se {
	right: 3px;
	bottom: 2px;
}