/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget tabView
 *
 * Includes tabView-specific rules of the Cupertino skin
 *
 * @style cupertino
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/tabView/css/widget-tabView.css
 * @link /walib/WAF/widget/skin/cupertino/css/widget-skin-cupertino.css
 *
 * @note 	duplication of default theme
 * @todo	code a dedicated theme
 *
 */


/**
 * -------------------------------------------------------
 * @section main
 * -------------------------------------------------------
 */
.cupertino.waf-tabView {
	border-radius: 5px;
    border: 0px;
}


/**
 * -------------------------------------------------------
 * @section tabview menuBar
 * -------------------------------------------------------
 */


.cupertino.waf-tabView.waf-tabView-menu-position-left-bottom .waf-menuBar,
.cupertino.waf-tabView.waf-tabView-menu-position-left-top .waf-menuBar {
	
	border-top: 1px solid;
	background-image: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-right-bottom .waf-menuBar,
.cupertino.waf-tabView.waf-tabView-menu-position-right-top .waf-menuBar {
	
	border-top: 1px solid; 
	background-image: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}

.waf-tabView-menu-position-top-right .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar,
.waf-tabView-menu-position-bottom-right .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar {
	text-align: right;
}

.waf-tabView-menu-position-left-bottom .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar.waf-menuBar-vertical,
.waf-tabView-menu-position-right-bottom .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar.waf-menuBar-vertical {
	display: table-cell;
	vertical-align: bottom;
	position: relative !important;
}


.waf-tabView.waf-tabView-menu-position-bottom-left .waf-widget.waf-menuBar.cupertino,
.waf-tabView.waf-tabView-menu-position-bottom-right .waf-widget.waf-menuBar.cupertino {
	padding: 5px;
	background: black;
    border-top: 1px solid;
    box-shadow: inset 0 1px 0 rgb(153,153,153);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.1)));

}

.waf-tabView.waf-tabView-menu-position-top-left .waf-widget.waf-menuBar.cupertino,
.waf-tabView.waf-tabView-menu-position-top-right .waf-widget.waf-menuBar.cupertino {
	padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-shadow: inset 0 1px 0 rgb(255,255,255);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.1)));
}


.waf-tabView.waf-tabView-menu-position-top-left .waf-widget.waf-menuBar-horizontal.cupertino,
.waf-tabView.waf-tabView-menu-position-top-right .waf-widget.waf-menuBar-horizontal.cupertino {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.waf-tabView.waf-tabView-menu-position-bottom-left .waf-widget.waf-menuBar-horizontal.cupertino,
.waf-tabView.waf-tabView-menu-position-bottom-right .waf-widget.waf-menuBar-horizontal.cupertino {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.waf-tabView.waf-tabView-menu-position-bottom-left .waf-widget.waf-menuBar-horizontal.cupertino,
.waf-tabView.waf-tabView-menu-position-bottom-right .waf-widget.waf-menuBar-horizontal.cupertino {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/**
 * -------------------------------------------------------
 * @section container
 * -------------------------------------------------------
 */
.cupertino.waf-tabView .waf-container.waf-tabView-container-level-0 {
    right: 0px;
    bottom: 0px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-left-top .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-left-bottom .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-right-top .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-right-bottom .waf-container.waf-tabView-container-level-0   {
	border-top: 1px solid;
}

.cupertino.waf-tabView.waf-tabView-menu-position-bottom-left .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-right .waf-container.waf-tabView-container-level-0   {
	border-top: 1px solid;
}


/**
 * -------------------------------------------------------
 * @section tabview menuItem
 * -------------------------------------------------------
 */

.cupertino.waf-tabView .waf-menuItem-level-0 {

	background-image: none;
	border-width: 0px;
	box-shadow: 0 0 0 hsla(0, 0%, 100%, 0.5);
	font-weight: normal;
	border-radius: 5px;
}

/**
 * -----------------------------------
 * @subsubsection tabview menuItem position vertical
 * -----------------------------------
 */

.waf-tabView-menu-position-left-bottom .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar.waf-menuBar-vertical .waf-menuItem-level-0.waf-menuItem-last,
.waf-tabView-menu-position-right-bottom .waf-widget.waf-menuBar.cupertino.waf-tabView-menuBar.waf-menuBar-vertical .waf-menuItem-level-0.waf-menuItem-last {
	margin-bottom:15px;
}

 /**
 * -----------------------------------
 * @subsubsection tabview menuItem position horizontal
 * -----------------------------------
 */

.cupertino.waf-tabView.waf-tabView-menu-position-top-right .waf-menuBar .waf-menuItem-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-right .waf-menuBar .waf-menuItem-level-0 {
	display: inline-block;
	float: none;
}

.cupertino.waf-tabView.waf-tabView-menu-position-top-right .waf-menuBar li,
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-right .waf-menuBar li {
	display: inline-block;
	float: none;
}

/**
 * -----------------------------------
 * @subsection tabview menuItem state
 * -----------------------------------
 */

.cupertino.waf-tabView .waf-menuItem-level-0.waf-state-selected {
	border: 0px solid;
}


.cupertino.waf-tabView.waf-tabView-menu-position-right-bottom .waf-menuItem-level-0.waf-state-selected,
.cupertino.waf-tabView.waf-tabView-menu-position-right-top .waf-menuItem-level-0.waf-state-selected {
	background-color: inherit;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
    background-repeat: no-repeat;
    box-shadow: inset 0 1px 1px rgb(87,87,87);
	border-bottom: 1px solid;
}

.cupertino.waf-tabView.waf-tabView-menu-position-left-bottom .waf-menuItem-level-0.waf-state-selected,
.cupertino.waf-tabView.waf-tabView-menu-position-left-top .waf-menuItem-level-0.waf-state-selected {
	background-color: inherit;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
    background-repeat: no-repeat;
    box-shadow: inset 0 1px 1px rgb(87,87,87);
	border-bottom: 1px solid;
}



/**
 * -----------------------------------
 * @subsubsection tabview menuItem position bottom state
 * -----------------------------------
 */
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-right .waf-menuItem-level-0.waf-state-selected,
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-left .waf-menuItem-level-0.waf-state-selected,
.cupertino.waf-tabView.waf-tabView-menu-position-top-left .waf-menuItem-level-0.waf-state-selected,
.cupertino.waf-tabView.waf-tabView-menu-position-top-right .waf-menuItem-level-0.waf-state-selected {
	
	background-color: inherit;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.48, rgba(255, 255, 255, 0.2)), color-stop(0.48, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
    background-repeat: no-repeat;
}


/**
 * -------------------------------------------------------
 * @section container
 * -------------------------------------------------------
 */
.cupertino.waf-tabView .waf-container.waf-tabView-container-level-0 {
	border-width: 0px;
	margin: 0px;
	padding: 0px 0px 0px 0px;


	background-color: rgb(109, 133, 163);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.7, hsla(0, 0%, 100%, 0.59)), color-stop(0.7, hsla(0, 0%, 100%, 0.68)));
	background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
	background-image:    -moz-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
	background-image:     -ms-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
	background-image:      -o-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
	background-image:         linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
	
	
	-webkit-background-size: 7px;
	   -moz-background-size: 7px;
	    -ms-background-size: 7px;
	     -o-background-size: 7px;
	        background-size: 7px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-left-top .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-left-bottom .waf-container.waf-tabView-container-level-0  {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-right-top .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-right-bottom .waf-container.waf-tabView-container-level-0 {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-top-left .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-top-right .waf-container.waf-tabView-container-level-0  {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.cupertino.waf-tabView.waf-tabView-menu-position-bottom-left .waf-container.waf-tabView-container-level-0,
.cupertino.waf-tabView.waf-tabView-menu-position-bottom-right .waf-container.waf-tabView-container-level-0  {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.cupertino.waf-widget.waf-menuItem {
	height: 20px;
}




