/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget button
 *
 * Includes button-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/grid/css/widget-button.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */

/**
 * -------------------------------------------------------
 * @section button container
 * -------------------------------------------------------
 */
.cupertino.waf-button  {
   
	font-weight: bold;

    border-style: solid;    

    background: -webkit-gradient( 
        linear, left top, left bottom, 
        from(rgba(255, 255, 255, 0.4 )),
        to(rgba(255, 255, 255, 0)), 
        color-stop(0.5, rgba(255, 255, 255, 0.2)), 
        color-stop(0.5, rgba(255, 255, 255, 0.1)) ); /*rgba(170, 0.1)*/


    margin: 0 0 3px 0;
    -webkit-background-origin: padding-box;
    -webkit-background-clip: border-box;
    -webkit-border-radius: 5px;
     
     font-weight: bold !important;
     font-size: 12px;
}

/**
 * -----------------------------------
 * @subsection button state
 * -----------------------------------
 */
.cupertino.waf-button.waf-state-active {

}

.cupertino.waf-button:not(.waf-navigationView-header-back-button) {
        border-width: 1px;
}
