/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget slider
 *
 * Includes slider-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/slider/css/widget-slider.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
.default.waf-slider {
	border-width: 1px;
	border-style: solid;

	font-family: sans-serif;
}

/**
 * -----------------------------------
 * @subsection slider state
 * -----------------------------------
 */
.default.waf-slider.waf-state-disabled {
	opacity: 0.4;
}


/**
 * -----------------------------------
 * @subsection slider horizontal
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-horizontal {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 0%, 0)), color-stop(0.48, hsla(0, 0%, 0%, 0)), color-stop(1, hsla(0, 0%, 0%, 0.44)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
}*/

/**
 * -----------------------------------
 * @subsection slider vertical
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-vertical {
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, hsla(0, 0%, 0%, 0)), color-stop(0.48, hsla(0, 0%, 0%, 0)), color-stop(1, hsla(0, 0%, 0%, 0.44)));
	background-image: -webkit-linear-gradient(right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:    -moz-linear-gradient(right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:     -ms-linear-gradient(right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:      -o-linear-gradient(right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
	background-image:         linear-gradient(right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 48%, hsla(0, 0%, 0%, 0.44) 100%);
}*/



/**
 * -------------------------------------------------------
 * @section ui-slider-range
 * -------------------------------------------------------
 */
.default.waf-slider .ui-slider-range {
}

/**
 * -----------------------------------
 * @subsection ui-slider-range horizontal
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-horizontal .ui-slider-range {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsla(0, 0%, 100%, 0.68)), color-stop(0.21, hsla(0, 0%, 100%, 0.2)), color-stop(0.79, hsla(0, 0%, 100%, 0)), color-stop(1, hsla(0, 0%, 0%, 0.24)));
	background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:    -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:     -ms-linear-gradient(top, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:      -o-linear-gradient(top, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:         linear-gradient(top, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
}*/

/**
 * -----------------------------------
 * @subsection ui-slider-range vertical
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-vertical .ui-slider-range {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, hsla(0, 0%, 100%, 0.68)), color-stop(0.21, hsla(0, 0%, 100%, 0.2)), color-stop(0.79, hsla(0, 0%, 100%, 0)), color-stop(1, hsla(0, 0%, 0%, 0.24)));
	background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:    -moz-linear-gradient(left, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:     -ms-linear-gradient(left, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:      -o-linear-gradient(left, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
	background-image:         linear-gradient(left, hsla(0, 0%, 100%, 0.68) 0%, hsla(0, 0%, 100%, 0.2) 21%, hsla(0, 0%, 100%, 0) 79%, hsla(0, 0%, 0%, 0.24) 100%);
}*/


/**
 * -------------------------------------------------------
 * @section ui-slider-handle
 * -------------------------------------------------------
 */
.default.waf-slider .ui-slider-handle {
	width: 19px;
	height: 18px;
	margin-left: -8px;

	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;

	/*box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 1),
				1px 1px 2px hsla(0, 0%, 0%, 0.15);

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.5, hsla(0, 0%, 100%, 0)), color-stop(0.54, hsla(0, 0%, 100%, 1)), color-stop(1, hsla(0, 0%, 100%, 1)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 54%, hsla(0, 0%, 100%, 1) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 54%, hsla(0, 0%, 100%, 1) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 54%, hsla(0, 0%, 100%, 1) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 54%, hsla(0, 0%, 100%, 1) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 54%, hsla(0, 0%, 100%, 1) 100%);*/

	font-size: 9px;
	letter-spacing: 2px;
	line-height: 16px;
	text-align: center;

    -webkit-font-smoothing: none;
            font-smooth: never;
}
.default.waf-slider .ui-slider-handle:before {
	content: "|||";
	padding-left: 3px;
}

/**
 * -----------------------------------
 * @subsection ui-slider-handle state
 * -----------------------------------
 */
/*.default.waf-slider .ui-slider-handle.ui-state-active {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.5, hsla(0, 0%, 100%, 0)), color-stop(0.54, hsla(0, 0%, 100%, 0.5)), color-stop(1, hsla(0, 0%, 100%, 0.5)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0.5) 54%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0.5) 54%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0.5) 54%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0.5) 54%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 0.5) 54%, hsla(0, 0%, 100%, 0.5) 100%);

	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.5),
				1px 1px 2px hsla(0, 0%, 0%, 0.15);
}*/

/**
 * -----------------------------------
 * @subsection ui-slider-handle horizontal
 * -----------------------------------
 */
.default.waf-slider.ui-slider-horizontal .ui-slider-handle {
	/*top: 0;
	bottom: 0;*/
	top: -7px;

	/*
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.47, hsla(0, 0%, 100%, 0)), color-stop(0.51, hsla(0, 0%, 100%, 1)), color-stop(1, hsla(0, 0%, 100%, 1)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	*/
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(1, hsla(0, 0%, 100%, 0.5)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);*/
}

/**
 * -----------------------------------
 * @subsection ui-slider-handle vertical
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-vertical .ui-slider-handle {
	left: 0;
	right: 0;

	
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.47, hsla(0, 0%, 100%, 0)), color-stop(0.51, hsla(0, 0%, 100%, 1)), color-stop(1, hsla(0, 0%, 100%, 1)));
	background-image: -webkit-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:    -moz-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:     -ms-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:      -o-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	background-image:         linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(1, hsla(0, 0%, 100%, 0.5)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.5) 100%);
}*/



/**
 * -----------------------------------
 * @subsubsection ui-slider-handle horizontal state
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-horizontal .ui-slider-handle.ui-state-active {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 0%, 0)), color-stop(0.5, hsla(0, 0%, 100%, 0.23)), color-stop(1, hsla(0, 0%, 100%, 0.23)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
}*/

/**
 * -----------------------------------
 * @subsubsection ui-slider-handle vertical state
 * -----------------------------------
 */
/*.default.waf-slider.ui-slider-vertical .ui-slider-handle.ui-state-active {
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, hsla(0, 0%, 0%, 0)), color-stop(0.5, hsla(0, 0%, 100%, 0.23)), color-stop(1, hsla(0, 0%, 100%, 0.23)));
	background-image: -webkit-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:    -moz-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:     -ms-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:      -o-linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
	background-image:         linear-gradient(right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.23) 50%, hsla(0, 0%, 100%, 0.23) 100%);
}*/