/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget navigationView
 *
 * Includes navigationView-specific rules of the Cupertino skin
 *
 * @style cupertino
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/navigationView/css/widget-navigationView.css
 * @link /walib/WAF/widget/skin/cupertino/css/widget-skin-cupertino.css
 *
 */



/**
 * -------------------------------------------------------
 * @section navigationView header
 * -------------------------------------------------------
 */
.cupertino.waf-container.waf-navigationView-header {
    border-radius: 0;

    text-align: center;
    line-height: 40px;
    font-size: 26px;
}


/**
 * -------------------------------------------------------
 * @section navigationView footer
 * -------------------------------------------------------
 */
.cupertino.waf-container.waf-navigationView-footer {
    border-radius: 0;
}


/**
 * -------------------------------------------------------
 * @section navigationView title
 * -------------------------------------------------------
 */
.cupertino .waf-navigationView-title {
	font-size: inherit;
}


/**
 * -------------------------------------------------------
 * @section navigationView body
 * -------------------------------------------------------
 */
.cupertino.waf-container.waf-navigationView-body {
    border-style: none;
    border-radius: initial;
    box-shadow: none;
}


/**
 * -------------------------------------------------------
 * @section navigationView content
 * -------------------------------------------------------
 */
.cupertino.waf-container.waf-navigationView-content {
	border-width: 0;
	overflow: hidden;
	
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/**
 * -------------------------------------------------------
 * @section navigationView view
 * -------------------------------------------------------
 */
.cupertino.waf-container.waf-navigationView-view {
    border-style: none;
    border-radius: initial;

}

.cupertino .waf-navigationView-view {
	border-width: 0;
    
	-webkit-transition: -webkit-transform 0.5s;
}

.cupertino .waf-navigationView-body{
    border-width: 0;
    
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.7, hsla(0, 0%, 100%, 0.59)), color-stop(0.7, hsla(0, 0%, 100%, 0.68)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
    background-image:    -moz-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
    background-image:     -ms-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
    background-image:      -o-linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
    background-image:         linear-gradient(left, hsla(0, 0%, 100%, 0.59) 70%, hsla(0, 0%, 100%, 0.68) 70%);
    
    
    -webkit-background-size: 7px;
       -moz-background-size: 7px;
        -ms-background-size: 7px;
         -o-background-size: 7px;
            background-size: 7px;
    
}

/**
 * -------------------------------------------------------
 * @section navigationView back button
 * -------------------------------------------------------
 */
.cupertino .waf-navigationView-header-back-button {
    position: absolute;
    
    border-radius: 1000px;
    overflow: visible !important;
    
    cursor: default;
}

.cupertino .waf-navigationView-header-back-button span {
    position: absolute;
    height: 29px;
    top: 0;
    right: -5px;
    left: 0;
    bottom: 0;
    margin-top: auto !important;
    
    line-height: 28px;
    
    background-color: inherit;
    
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left-width: 0;
    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 1px 1px rgba(0, 0, 0, 0.25);
    
    -webkit-border-radius: 0 5px 5px 0;
       -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
         -o-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
    

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.46)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	
	clip: rect(auto auto 30px 2px);
	
	font-size: 13px;
    font-weight: normal;
}


.cupertino .waf-navigationView-header-back-button:before {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -8px;
    top: 4px;
    content: '';
    overflow: hidden;
    
    background-color: inherit;
    
    border-left: 1px solid rgba(0, 0, 0, 0.45);
	border-bottom: 1px solid rgba(0, 0 ,0, 0.25);
    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 1px 1px rgba(0, 0, 0, 0.25);
    
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.46)), color-stop(0.5, rgba(255, 255, 255, 0.17)), color-stop(0.5, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));*/
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:    -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:     -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	background-image:      -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0.14) 50%, rgba(255, 255, 255, 0));
	
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            
	clip: rect(1px 20px 30px 0);
}
